# .env & .env.example

PROJECT_NAME=ai4infra

PROJECT_ROOT=/home/ben/projects/ai4infra
# PROJECT_ROOT=C:\Users\ben\projects\rpy-quarto-template    # Linux
# PROJECT_ROOT=$HOME/projects/rpy-quarto-template        # macOS
# PROJECT_ROOT=$USERPROFILE/projects/rpy-quarto-template # Windows

LOG_PATH=/var/log/{PROJECT_NAME}
# LOG_PATH=/var/log/{PROJECT_NAME}    # Linux
# LOG_PATH=$HOME/Library/Logs/{PROJECT_NAME} # macOS
# LOG_PATH=%USERPROFILE%\AppData\Local\{PROJECT_NAME}\logs # Windows

LOG_LEVEL=DEBUG   # (DEBUG, INFO, WARNING, ERROR, CRITICAL)

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=ai4infra

# 데이터베이스 설정
DB_HOST=localhost
DB_NAME=ai4ref
DB_USER=${POSTGRES_USER}
DB_PASSWORD=${POSTGRES_PASSWORD}
DB_PORT=5432
DB_SSLMODE=prefer

# PUBMED 설정
PUBMED_API_KEY="79c1e7570052741491309181c791d8829c07"
ENTREZ_EMAIL="r.python.aif@gmail.com"


# ZOTERO 설정
ZOTERO_API_KEY="dh1qR4KshQrUBPq7Jc33YW1s"
ZOTERO_USER_ID="17692286"

# 프로젝트 설정
AI4REF_PROJECT_ROOT=/home/ben/projects/ai4ref
AI4REF_CONFIG_DIR=${AI4REF_PROJECT_ROOT}/config
AI4REF_PDF_DIR=${AI4REF_PROJECT_ROOT}/data/pdf

